
<footer class="site-footer section">    
  <div class="footer-col footer-col-2">
    <h2 class="footer-heading">Quick Links</h2>
    <ul style="font-size: 1.1em">
      <li style="margin: 0.5em 0;">
        <a href="mailto:{{ site.contact }}" target="_blank" rel="noopener noreferrer">Contact</a>
      </li>
      <li style="margin: 0.5em 0;">
        <a href="/privacy-policy/" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
      </li>
      <li style="margin: 0.5em 0;">
        <a href="/sitemap/" target="_blank" rel="noopener noreferrer">Sitemap</a>
      </li>
    </ul>
  </div>
</footer>
