
<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <h2 class="footer-heading">Copyright</h2>
        <p style="color: white;">&copy; <script>new Date().getFullYear()>2010&&document.write(new Date().getFullYear());</script> Zachary Montgomery. All rights reserved.</p>
      </div>
    
        
      <div class="footer-col footer-col-2">
        <h2 class="footer-heading">Quick Links</h2>
        <ul style="font-size: 1.1em;padding: 0 0 0 1.5em;">
          <li style="margin: 0.5em 0;">
            <a href="mailto:zachmontgo@outlook.com" target="_blank" rel="noopener noreferrer">Contact</a>
          </li>
          <li style="margin: 0.5em 0;">
            <a href="/privacy-policy/" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
          </li>
          <li style="margin: 0.5em 0;">
            <a href="/sitemap/" target="_blank" rel="noopener noreferrer">Sitemap</a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-1">
        <h2 class="footer-heading">Contribute to My Work</h2>
        <p>I want to provide quality content without annoying ads or paid memberships. If you like my writing, please consider buying me a coffee!</p>
        <a class="contact-btn" target="_blank" rel="noopener noreferrer" href="https://buymeacoff.ee/zmontgo" style="text-align: center;">Buy Me A Coffee</a>
      </div>

      <div class="footer-col footer-col-3">
        <h2 class="footer-heading">Connect</h2>
        <div class="social-btns">
          {%- if site.instagram != '' -%}
            <a class="btn instagram"  rel="noopener" rel="noreferrer" href="{{ site.instagram | escape }}" target="_blank"><i class="fab fa-instagram fa-w-1"></i><span class="sr" hidden>Instagram Account</span></a>
          {%- endif -%}
          {%- if site.twitter != '' -%}
            <a class="btn twitter" rel="noopener" rel="noreferrer" href="{{ site.twitter | escape }}" target="_blank"><i class="fab fa-twitter"></i><span class="sr" hidden>Twitter Account</span></a>
          {%- endif -%}
          {%- if site.youtube != '' -%}
            <a class="btn google" rel="noopener" rel="noreferrer" href="{{ site.youtube | escape }}" target="_blank"><i class="fab fa-youtube"></i><span class="sr" hidden>YouTube Account</span></a>
          {%- endif -%}
        </div>
      </div>

  </div>

</footer>
