<table>
  <tr>
    <th>Event</th>
    <th>Average Women Division Times</th>
    <th>Average Mens Division Times</th>
  </tr>
  <tr>
    <td>200m Run</td>
    <td>0:22.25</td>
    <td>0:20.13</td>
  </tr>
  <tr>
    <td>800m Run</td>
    <td>1:59.51</td>
    <td>1:43.88</td>
  </tr>
  <tr>
    <td>1500m Run</td>
    <td>4:12.42</td>
    <td>3:51.33</td>
  </tr>
  <tr>
    <td>100m Swim (Backstroke)</td>
    <td>1:1.01</td>
    <td>0:54.31</td>
  </tr>
  <tr>
    <td>200m Swim (Breaststroke)</td>
    <td>2:24.99</td>
    <td>2:10.69</td>
  </tr>
</table> 