/**
 * Basic styling
 */

 html, body {
  min-height: 100%;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  font-display: optional;
  color: $text-color;
  background: fixed linear-gradient(var(--gradient-dark), var(--gradient-light));
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

hr {
  border: 0;
  border-top: $spacing-unit/5 solid $light-grey;
  width: calc(75vw - #{$spacing-unit*2});
  max-width: $spacing-unit*10;
  border-radius: $border-radius;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */

h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul:not(.nav-links), ol:not(.nav-links), dl, figure, %vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

/**
 * `main` element
 */

main {
  display: block;
  /* Default value of `display` of `main` element is 'inline' in IE 11. */
}

/**
 * Images
 */

img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */

figure>img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

/**
 * Lists
 */

li {
  >ul, >ol {
    margin-bottom: 0;
  }
}

/**
 * Headings
 */

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.67em;
  margin: .83em 0
}

h5 {
  font-size: 1.33em;
  margin: 1.5em 0
}

h6 {
  font-size: 1.25em;
  margin: 1.67em 0
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}

/**
 * Links
 */

a {
  color: #80a6ff;
  transition: 0.2s;
  &:hover {
    color: $text-color;
  }
  .social-media-list &:hover {
    text-decoration: none;
    .username {
      text-decoration: underline;
    }
  }
}

.site-title:hover {
  color: #fff;
}

a {
  position: relative;
  text-underline-offset: 2px;
}

a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

a.animatedlink {
  position: relative;
}

a.animatedlink:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.animatedlink:hover:before {
  visibility: visible;
  width: 100%;
}

/**
 * Switches
 */

/* The switch - the box around the slider */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/**
 * Blockquotes
 */

blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  @include relative-font-size(1.125);
  letter-spacing: -1px;
  font-style: italic;
  > :last-child {
    margin-bottom: 0;
  }
}

/**
 * Code formatting
 */

pre, code {
  @include relative-font-size(0.9375);
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
  color: black;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;
  >code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/**
 * Clearfix
 */

%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Icons
 */

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: #{$grey-color};
  padding-right: 5px;
  vertical-align: text-top;
}

.social-media-list {
  li+li {
    padding-top: 5px;
  }
}

/**
 * Tables
 */

table {
  width: 100%;
  text-align: $table-text-align;
  border-collapse: collapse;
  border: 1px solid $light-grey;

  tr {
    &:nth-child(even) {
      background-color: lighten($light-grey, 6%);
    }
  }
  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  th {
    background-color: $purple-color;
    color: white;
    border: 1px solid darken($light-grey, 6%);
  }
  td {
    border: 1px solid $light-grey;
  }
}

.airtable-embed {
  border-radius: 0.5em;
}
