/**
 * Site header
 */

 .topnav-spacer {
  height: 65px;
  &.scroll {
    height: 50px;
  }
}

.site-header {
  // Positioning context for the mobile navigation icon
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  width: 100vw;
  max-width: 100%;
  padding: 0 5vw;
  color: white;
  z-index: 1;
  transition: .4s ease-out;

  .menu-icon {
    display: block;
    
    position: relative;
    padding: 26px 10px;
    cursor: pointer;
    z-index: 2;
    &__line {
      display: block;
      position: relative;
      background: #fff;
      height: 2px;
      width: 20px;
      border-radius: 4px;
      transition: background .8s ease;
      &::before, &::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 4px;
        background: #fff;
        transition: background .8s ease;
      }
      &::before {
        transform: translateY(-5px);
      }
      &::after {
        transform: translateY(5px);
      }

      &.animate {
        -webkit-animation: closedMid 0.8s backwards;
        -o-animation: closedMid 0.8s backwards;
        -moz-animation: closedMid 0.8s backwards;
        animation: closedMid 0.8s backwards;
        -webkit-animation-direction: reverse;
        -o-animation-direction: reverse;
        -moz-animation-direction: reverse;
        animation-direction: reverse;

        &::before {
          -webkit-animation: closedTop 0.8s backwards;
          -o-animation: closedTop 0.8s backwards;
          -moz-animation: closedTop 0.8s backwards;
          animation: closedTop 0.8s backwards;
          -webkit-animation-direction: reverse;
          -o-animation-direction: reverse;
          -moz-animation-direction: reverse;
          animation-direction: reverse;
        }
        
        &::after {
          -webkit-animation: closedBtm 0.8s backwards;
          -o-animation: closedBtm 0.8s backwards;
          -moz-animation: closedBtm 0.8s backwards;
          animation: closedBtm 0.8s backwards;
          -webkit-animation-direction: reverse;
          -o-animation-direction: reverse;
          -moz-animation-direction: reverse;
          animation-direction: reverse;
        }
      }
    }
  }

  .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10rem 0;
    width: 100vw;
    height: 100vh;
    font-size: 2rem;
    color: white;
    background-color: #272727;
    transition: opacity .8s .1s, clip-path 1s .1s;
    clip-path: circle(200px at top right);

    .nav-link {
      transform: translateX(100%);
      width: 100%;
      text-align: center;
      transition: opacity .4s ease-in-out, transform .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      a {
        display: block;
        margin: .2rem;
        padding: 1rem .5rem;

        &:hover {
          background: rgba(255, 255, 255, .2);
          border-radius: 5px;
        }
      }
    }
  }

  .menu-btn:checked~.nav-links {
    opacity: 1;
    clip-path: circle(100% at center);
    .nav-link {
      opacity: 1;
      transform: translateX(0);
      transition: opacity .4s ease-in-out, transform .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      &:nth-of-type(1) {
        transition-delay: .4s;
      }
      &:nth-of-type(2) {
        transition-delay: .5s;
      }
      &:nth-of-type(3) {
        transition-delay: .6s;
      }
      &:nth-of-type(4) {
        transition-delay: .7s;
      }
      &:nth-of-type(5) {
        transition-delay: .8s;
      }
    }
  }
  .menu-btn:checked~.menu-icon {
    border-radius: 50%;
    .menu-icon__line {
      background: white;
      &::before {
        background: white;
      }
      &::after {
        background: white;
      }
    }
    &.animate {
      .menu-icon__line {
        animation: openMid 0.8s forwards;
        &::before {
          animation: openTop 0.8s forwards;
        }
        &::after {
          animation: openBtm 0.8s forwards;
        }
      }
    }
  }

  a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
  }
  .menu-btn {
    display: none;
  }
  &.scrolled {
    height: 50px;
    background: rgba(0, 0, 0, 0.9);
    color: white;
  }
}