h1, h2, h3 {
  font-family: 'Comfortaa', sans-serif;
}

#mc_embed_signup {
  margin: 0 auto;
  width: 50%;
}

input {
  width: 100%;
  padding: 0.5em 1rem;
  height: 5vh;
  background: rgba(255, 255, 255, 0);
  border: black solid 2px;
  color: white;
  border-radius: 5px;
  outline: none;
  margin-bottom: 3vh;

  &::placeholder {
    transition: .2s;
    color: rgba(255, 255, 255, 0.75);
  }

  &:focus::placeholder {
    color: white
  }

  &[type=submit] {
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 0;
  }
}

/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit 15%;
  background-color: #000000;

  a:hover {
    color: #fff;
  }
}

.footer-heading {
  @include relative-font-size(1.375);
  margin-bottom: $spacing-unit / 2;
  color: white;
  text-align: left;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}



.contact-btn {
  display: block;
  padding: 1em 2em;
  border: #E38C2D 3px solid;
  color: #E38C2D;
  border-radius: 5px;
  transition: .4s;
  text-decoration: none;

  &:hover {
    background: white;
    background: #E38C2D;
  }
}

.footer-col-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-col {
  min-width: 150px;
  padding: .5em;
  flex: 1;
}

.post-meta {
  font-size: $small-font-size;
}

.post {
  border: 3px solid white;
  border-radius: 5px;
  padding: 1em 2em;
  width: 47%;
}

@include media-query($on-palm) {
  .social-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
  }
  .post-meta {
    font-size: 1em;
  }
  .hiddenlink {
    display:block;
  }
  .shownlink {
    display: none;
  }
}

.hiddenlink {
  display:none;
}


/**
 * Page content
 */
.page-content {
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
  font-family: 'Comfortaa', sans-serif;
}

.post-list {
  margin-left: 0;
  list-style: none;
  width: 100%;

  > li {    
    flex: 1;
    min-width: 300px;
    text-align: left;
    padding: 1em;
    border-bottom: white solid 3px;

    &:nth-of-type(1) {
      border-top: white solid 3px;
    }
  }

  > li:not(.main-post) {
    flex: 1;
    min-width: 300px;
    margin: $spacing-unit 5px;
    text-align: left;
    border-radius: 5px;
    padding: 1em 2em;
  }
}


.post-link {
  display: block;
  @include relative-font-size(1.5);
  font-family: 'Comfortaa', sans-serif;
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;
  font-family: 'Comfortaa', sans-serif;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

/**
 * index.md
 */

.index-header {
  text-align: center;
  padding-top: 75px;
  // padding-bottom: 35px;
  margin-bottom: 7em;
}
.orange-header {
  color: #E38C2D;
  font-family: 'Comfortaa', sans-serif;
}
.content {
  padding: .5rem 0;
}

// Misc

.holds-the-iframe {
  background:url('https://miro.medium.com/max/882/1*9EBHIOzhE1XfMYoKz1JcsQ.gif') center center no-repeat;
}

.cardholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card {
  background: #750384;
  border-radius: 10px;
  display: inline-block;
  margin: 1rem;
  position: relative;
  width: 300px;
  color: white;
  text-align: center;
  
  h1 {
    font-size: 2em;
    margin-bottom: 0;
  }
  
  p {
    margin: 0.75em;
  }

  hr {
    margin: 1em 2em;
    border: 3px solid white;
  }

  span {
    font-size: .8em
  }
}

input.accordioninput {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

/* Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
  margin-bottom: 2em;
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;
}
.tab-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 1em;
  background: #750384;
  font-weight: bold;
  cursor: pointer;
  /* Icon */
}
.tab-label:hover {
  background: #090526;
}
.tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  -webkit-transition: all .35s;
  transition: all .35s;
}
.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #2c3e50;
  background: white;
  -webkit-transition: all .35s;
  transition: all .35s;
}
.tab-close {
  display: -webkit-box;
  display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
  flex: 0 0 auto;
  -webkit-box-pack: end;
          justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
}
.tab-close:hover {
  background: #1a252f;
}

input:checked + .tab-label {
  background: #1a252f;
}
input:checked + .tab-label::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
input:checked ~ .tab-content {
  padding: 1em;
  max-height: 100vh;
  overflow: scroll;
}

/* The hero image */
.hero-image {
  /* Set a specific height, remove padding to make it exactly the size of the screen */
  height: 100vh;
  padding: 0;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.section {
  width: 70%;
  margin: auto;
}

.section.wide {
  width: 75vw;
}

.about-text {
  padding: 2rem;
  width: 50%;
  text-align: left;
  margin: auto 0;
}

.about-image {
  width: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-wrapper {
  display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 850px) {
  .about-image {
    width: 100vw;
    height: 50vh;
    border-radius: 10px;
  }

  .about-text {
    text-align: center;
    width: 100vw;
  }

  .section {
    width: 90vw;
  }

  .post {
    min-width: 100%!important;
  }

  #mc_embed_signup {
    width: 100%;
  }

  .content {
    text-align: center;
  }
}

.social-btns {
  overflow: hidden;
}
.social-btns .btn, .social-btns .btn:before, .social-btns .btn .fab {
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0, 0);
}
.social-btns .btn:before {
  top: 90%;
  left: -110%;
  visibility: visible;
}
.social-btns .btn .fab {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.social-btns .btn.instagram {
  color: $instagram;
  
  &:hover {
    transition: background-color 1s;
    background: $instagram;
  }

  &:before {
    background: $instagram;
  }
}

.social-btns .btn.twitter {
  color: $twitter;

  &:hover {
    transition: background-color 1s;
    background: $twitter;
  }

  &:before {
    background: $twitter;
  }
}

.social-btns .btn.google {
  color: $google;

  &:hover {
    transition: background-color 1s;
    background: $google;
  }

  &:before {
    background: $google;
  }
}

.social-btns .btn:focus:before, .social-btns .btn:hover:before {
  top: -10%;
  left: -10%;
}
.social-btns .btn:focus .fab, .social-btns .btn:hover .fab {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.social-btns .btn:focus, .social-btns .btn:hover {
  color: white;
}
.social-btns {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.social-btns .btn {
  display: inline-block;
  background: #fff;
  width: 65px;
  height: 65px;
  line-height: 65px;
  margin: 5px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 30%;
  box-shadow: 0 7px 18px -7px rgba(0,0,0,0.18);
  opacity: 0.99;
}
.social-btns .btn:before {
  content: '';
  width: 120%;
  height: 120%;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.social-btns .svg-inline--fa {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  height: 40px;
  width: 50px;
}

@keyframes fadein{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}

@-webkit-keyframes fadein{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}



/*.scrolled #scroll {
  transition: 1s;
  opacity: 0;
}

#scroll {
  bottom: -25vh;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

#scroll .arrow {
  padding-top: 60px;
  color: white;
  animation-name: fadein;
  animation-duration: 3s;
  cursor: default;

  span {
    position: absolute;
    top: -7vh;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 1px solid #fff;
    border-radius: 100%;
    box-sizing: border-box;

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      content: '';
      width: 16px;
      height: 16px;
      margin: -12px 0 0 -8px;
      border-left: 1px solid #fff;
      border-bottom: 1px solid #fff;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      box-sizing: border-box;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      content: '';
      width: 44px;
      height: 44px;
      box-shadow: 0 0 0 0 rgba(255,255,255,.1);
      border-radius: 100%;
      opacity: 0;
      -webkit-animation: sdb03 3s infinite;
      animation: sdb03 3s infinite;
      box-sizing: border-box;
    }
  }
}
@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}*/

.pagination {
  text-align: center;
  margin: auto;
  width: 50vw;
  display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
  flex-direction: column;
  justify-content: center;
  
  .links {
    width: 50%;
    margin: 0 auto 2em auto;
    display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
    justify-content: space-around;
  }
}

.sr {
  position: absolute;
  left: -10000px;
}

.pfp-wrapper {
  max-width: 50px;
  max-height: 50px;
  overflow: hidden;
  border-radius: 50%;
  margin:0 10px 0 0;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}

.scroll-down {
  border: 2px solid rgba(255,255,255,0.75);
  border-radius: 20px;
  bottom: clamp(10vh, 10.5vh, 15vh);
  height: 50px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 30px;
  cursor: pointer;
  
  &::before {
    animation: scrollDownAnimation 3s infinite;
    background-color: rgba(255,255,255,0.75);
    border-radius: 100%;
    content: '';
    height: 8px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 10px;
    width: 8px;
    visibility: visible;
  }
}
