@media screen and (min-width: 850px) {
  .about-image {
    width: 50%;
  }

  .input-50 {
    width: 46%;
  }
  .site-header.scrolled {
    .logo {
      display: none;
    }

    .menu-btn {
      display: none;
    }

    .nav-links {
      justify-content: space-around;
      width: 100%;
      a:hover {
        border-radius: 0;
      }
    }
  }
}

@include media-query($on-palm) {
  .social-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
  }
  .project-meta {
    font-size: 1em;
  }
  .footer-col {
    float: none;
  }
  .hiddenlink {
    display: block;
  }
  .shownlink {
    display: none;
  }
}