@media screen and (min-width: 850px) {
  .about-image {
    width: 50%;
  }

  .input-50 {
    width: 46%;
  }
  .site-header {
    .menu-icon {
      display: none;
    }

    .nav-links {
      opacity: 1;
      position: relative;
      flex-direction: row;
      justify-content: flex-end;
      color: white;
      clip-path: none;
      background-color: transparent;
      font-size: inherit;
    }
  }

  .hiddenlink {
    display:none;
  }

  
  .shownlink {
    display: block;
  }
}

/*
  Printing styles
*/

@media print {
  .footer-col {
    flex: unset!important;
    width: 100%!important;
  }
  .site-header {
    display: none!important;
  }
  a::after {
    content: " (" attr(href) ")";
    display: block;
  }
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}