@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Work+Sans&display=swap');

$base-font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, "Roboto", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   18px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit: 30px !default;
$border-radius: $spacing-unit/5 !default;

$grey-color: hsl(0,0,70) !default;
$light-grey: hsl(0,0,85) !default;
$purple-color: hsl(240,100,78) !default;
$red-color: hsl(0,100,80) !default;

$grey-color:       #808080 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

$background-color: #fff !default;
$text-color: #000 !default;

$content-width: 800px !default;

$on-desktop: $content-width+(4*$spacing-unit) !default;

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}