<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body style="visibility: hidden;" onload="js_Load()">
  
  <!-- below navigation -->

  <div class="flex-wrapper">
  
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    
    {%- include footer.html -%}

  </div>
 
  <noscript>
    <link rel="stylesheet" href="/assets/noscript.css">
  </noscript>
    
</body>

<noscript><style>body { visibility: visible!important; }</style></noscript>

</html>
