---
layout: default
---

<div class="section section__hero">
  <div class="hero-img">
    <img src="/assets/me.png" alt="Female runners competing on a track.">
  </div>
  <div class="hero-txt">
    <h1 class="main-title purple-txt">{{ site.title }}</h1>
    <p>{{ site.description }}</p>
  </div>
</div>
  
  <div class="section">
    <h1 class="purple-txt">My Work</h1>
    <p>
      Recent projects I've engaged in. I mostly work on websites, but I do all sorts of things, including making Discord bots.
    </p>
    <div class="projects">
      {% for project in site.projects %}
        <div class="project">
          <h3>{{ project.name }}</h3>
          <p>{{ project.description }}</p>
          <a href="{{ project.link }}" target="_blank" rel="noopener noreferrer" class="btn btn__purple">Check It Out</a>
        </div>
      {% endfor %}
    </div>
  </div>
  
  <hr>

  <div class="section">
    <h1 class="purple-txt">My Reviews</h1>
    <p>Here's what people have to say about me.</p>

    <div class="projects">
      {% for review in site.reviews %}
        <div class="project">
          <img src="{{ review.img_src }}"
          <h3>{{ review.person }}</h3>
          <p>{{ review.description }}</p>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="section section__purple">
    <h1>Contact</h1>
    <p>Interested in learning more or having a website made? Please reach out!</p>
    <a href="mailto:zachmontgo@outlook.com" target="_blank" rel="noopener noreferrer" class="btn">Contact Me!</a>
  </div>

  <div class="section">
    <h1 class="purple-txt">Donate</h1>
    <p>
      I'm a big supporter of open source. A lot of work I do is free for everyone to use, enjoy, and modify as they see fit. However, I still need to earn a living.
    </p>
    <p>If you feel you've benefitted from anything I've made and want to help out (or even if you haven't and just want to help support open source development), please consider buying me a coffee! Even just $5 helps a lot.</p>
    <a href="https://www.buymeacoffee.com/zmontgo" target="_blank" rel="noopener noreferrer" class="btn btn__purple">Buy Me a Coffee</a>
  </div>
</div>