---
layout: default
---

<div id="particles-js text" class="particles-js">
    <div class="hero-image">
        <div class="hero-text">
            <h1 class="orange-header">Zachary Montgomery</h1>
            <h3>
              <span class="typewrite" data-period="2000" data-type='[ "Reader", "Coder", "Writer", "All-Around Polymath" ]'>
                <span class="wrap"></span>
              </span>
            </h3>
        </div>
        <a title="Click to scroll down"
            href="enablejs.html" onclick="window.scrollPageTo('#firstsection', 500);return false;" class="scroll-down"></a>
    </div>
    <div class="topnav-spacer" id="firstsection"></div>
    <div class="about-us index-sections content section">
        <h2 class='orange-header'>About Me</h2>
        <p>{{- site.about | escape -}}</p>
    </div>
    <div class="about-us index-sections content section">
        <h2 class="orange-header">Freelance Web Development</h2>
        <p>Proficient in frontent and backend web development, I make sure your site is tailored specifically to you or your business with a unique style to fit your branding, while keeping your site fast and secure.</p>        
    </div>
    <div class="about-us index-sections content section">
        <h2 class="orange-header">Blog</h2>
        <p>I write seldom, as I tend to only write what I believe will be truly meaningfull. If you are interested in hearing about coding, writing, reading, or any number of various other hobbies I have, or just my thoughts on the happenings in my life, check out my blog!</p>
        {%- if site.posts.size > 0 -%}
        <h2 class="post-list-heading">Articles</h2>
        <ul class="post-list" style="display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;justify-content: space-between;flex-wrap:wrap">
            {% assign sorted = site.posts | reverse %}
            {%- for post in sorted limit:2 -%}
            <li class="post">
                <h3>
                    <a class="post-link" href="{{ post.url | relative_url }}">
                        {{ post.title | escape }}
                    </a>
                </h3>
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                <p><em>By {{post.author}} on {{ post.date | date: date_format}}</em></p>
                <p>{{ post.main_content }}</p>
            </li>
            {%- endfor -%}
        </ul>
        {% else %}
        <div>There's nothing here! Check back later.</div>
        {% endif %}
    </div>
</div>
